body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.title {
	color: #DB060A;
	background-color: #FFFFFF;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}

.titulo {
	color: #FFFFFF;
	background-color:#DB060A;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}



.titulo1 {
	color: #FFFFFF;
	background-color:#DB060A;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}
.titulo1b {
	color: #FFFFFF;
	background-color:#DB060A;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 16px;
}
.titulo1a {
	color: #FFFFFF;
	background-color:#DB060A;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 13px;
}

.titulo2 {
	color: #626060;
	font-weight: bold;
	font-size: 13px;
	font-family: Helvetica;
}

.titulo3 {
	color: #000000;
	font-family: Helvetica;
	font-size: 11px;
	
}
.titulo4 {
	color: #DB060A;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 11px;
	
}
.titulo5 {
	color: #000000;
	font-family: Helvetica;
	font-size: 12px;
	
}

.cebra1{
	background-color:#ffffff;
}

.cebra2{
	background-color:#DDA0DD;
}

.cebra3{
	background-color:#FDEFE9;
}


		/*Tags*/
	img.facebook {	border: 0px;width: 90px;}
	img.inicio   {	border: 0px;width: 20px;border: 1px solid #000000;}	
	img.bandera  {	border: 0px;width: 17px;}			
	.centrar {text-align: center;}

	/*Colores*/
	.rojo			{color:#f23718;}
	.negro_texto	{color:black;}
	.naranja		{color:#FF6600;}	
	.gris		    {color:#333333;}
	.gris_claro	    {color:#999999;}	
        .b_amarillo { 
                  background-color: #FFFF00;
                  height: 10px; 
          }
        .b_azul { 
                background-color: #0000FF;
                height: 10px; 
           }
        .b_rojo { 
                background-color: #FF0000;
               height: 10px; 
            }

	/*Links*/
	a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

a.class1 {color:000000;}
a.class1:link {text-decoration:none; color:#000000;}    /* unvisited link */
a.class1:visited {text-decoration:none; color:#000000;} /* visited link */
a.class1:hover {text-decoration:none; color:#000000;}   /* mouse over link */
a.class1:active {text-decoration:none;}  /* selected link */

	a.negro_link	{color:#000000;}
	.negro_nolink   {color:#000000; text-decoration: none;}	
	a.negro 		{color:#000000; text-decoration: none;}
	a.arojo			{color:#f23718; text-decoration: none;}
	a.rojo_link		{color:#f23718;}	
	a.gris		    {color:#333333; font-size: small;}
	
	
	/*Margenes*/
	.ml18 {margin-left: 18px;}
	.ml36 {margin-left: 36px;}
	.ml54 {margin-left: 54px;}

	/*Otros*/
	.categorias {
		margin-top: 5px;
	    padding:0 5px;  
		color: #999999;
		font-size:15px;
	}
	.categorias img	 {	 border: 1px solid #999999;width: 20px; }
	.categorias a	 {	 color:#999999; }
	
	.cuadro { background-color: #FFFFFF; 
			  border: #DDDDDD; border-style: solid; text-align: center;
			  border-top-width: 4px; 
			  border-right-width: 4px; 
			  border-bottom-width: 4px; 
			  border-left-width: 4px} 
	.menu {
		margin-top: 5px;
		text-align: left;
		font-weight: normal;
		color: #333333;
		font-size:15px;
	}
	.menu_abajo {
		text-align: left;
		font-weight: normal;
		color: #333333;
		font-size:15px;
	}
	.nummenu2 {
		margin-top: 5px;
	    padding:0 5px;  
		color: #f23718;
		font-size:15px;
	}
	.txtmenu2 {
		color:#000000;
		font-weight: normal;
		font-size:15px;
	}
	
	
	.subtitulo{
		margin-top: 5px; 
		margin-bottom: 5px;
		text-align: center;
		color:black;
		font-weight: bold;
		font-size:16px;
	}
	
	.intro{border:1px solid #7fb1fc;padding:8px;margin:12px 0 12px 0;border-radius:8px;}
	
	.buscador {
		font-size:15px;
		font-weight: normal;
		text-align: center;
		color:black;		
	}

	input { font-size:15px; font-family:times; font-weight:normal; }
	.footer{font-size:0.8em;background-color:#FDEFE9;text-align:center;padding:6px;}
	
	.favoritos {
		font-size:15px;
		color: #999999;
	}
		
	.escribete {
		color: #993300;
	}
			
			
	.arriba {
		margin-top: 5px; 
		text-align: center; 
	}
		.arriba img	 {	  width: 190px;}
		
	.enlaces {
		margin-top: 10px;
		font-size:15px;
		font-weight: normal;
		text-align: left;
	}
